.login-container {
  background-color: var(--color-6);
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row;
  gap: 20px;
  height: 350px;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
}

.img-container {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 20px;
  width: 400px;
}

.img-container img {
  margin: auto;
  width: 300px;
}

.form-container {
  align-items: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  width: 500px;
}

.login-form {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.input-form {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: var(--color-3);
  height: 50px;
  padding: 10px;
  transition: 0.2s linear;
  width: 400px;
}

.btn-container {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.btn-form {
  background-color: var(--color-3);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  padding: 10px;
  transition: 0.2s linear;
  width: 190px;
}

.btn-form:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.btn-form:disabled {
  opacity: 60%;
}

.input-form:hover {
  background-color: var(--color-2);
}

.login-form ::placeholder {
  color: var(--color-3);
}

.error-form {
  align-items: center;
  color: var(--color-3);
  display: flex;
  font-weight: 600;
  gap: 7px;
  justify-content: center;
  position: absolute;
  top: 290px;
}

.error-icon {
  font-size: 25px;
}
