* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-2);
}

.register-container {
  background-color: var(--color-6);
  border-radius: 10px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-flow: row;
  gap: 20px;
  height: 350px;
  justify-content: space-between;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
}

.register-form {
  display: flex;
  flex-flow: column wrap;
  gap: 15px;
}

.form-container {
  align-items: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  padding: 20px;
  width: 500px;
}

.input-register-form {
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  color: var(--color-3);
  height: 50px;
  padding: 10px;
  transition: 0.2s linear;
  width: 400px;
}

.btn-register-form {
  background-color: var(--color-3);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 50px;
  padding: 10px;
  transition: 0.2s linear;
  width: 400px;
}

.btn-register-form:disabled {
  opacity: 60%;
}

.input-register-form:hover {
  background-color: var(--color-2);
}

.register-form ::placeholder {
  color: var(--color-3);
}
