.seller-order-container {
  /* display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 100px 10%;
  width: 80%;
  padding: 25px;
}

.seller-order-number-container {
  background-color: white;
  height: 100%;
  width: 150px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.seller-order-data-container {
  display: flex;
  flex-flow: row nowrap;
  width: 300px;
}

.seller-status-container {
  /* background-color: var(--color-5); */
  background-color: white;
  color: rgba(0, 0, 0, 0.7);
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  border-radius: 5px;
  /* padding: 0 5px; */
}

.seller-order-data {
width: 150px;
display: flex;
flex-flow: column nowrap;
gap: 5px;
padding: 0 0 0 5px;
}

.seller-date-container, .seller-price-container {
  background-color: white;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}

.address-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: right;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
}

.Pendente {
  background-color: #c88304;
}

.Preparando {
  background-color: #faa405;
}

.Entregue {
  background-color: #1ad102;
}

.Trânsito {
  background-color: rgba(0, 0, 0, 0.7);
}

.seller {
  height: 150px;
}

.right-card {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}